# Python Version 3.5.2 (server is running at this version)
Flask==1.1.1
Flask-SQLAlchemy==2.4.1
flask-marshmallow==0.10.1
# cannot update marshmallow-sqlalchemy because of broken support of 3.5
marshmallow-sqlalchemy==0.18.0
Flask-Migrate==2.5.2
Flask-Cors==3.0.8