Flask==1.1.1
Flask-SQLAlchemy==2.4.1
flask-marshmallow==0.10.1
# cannot update marshmallow-sqlalchemy because of broken support of 3.5
marshmallow-sqlalchemy==0.18.0
Flask-Migrate==2.5.2
Flask-Cors==3.0.9
gunicorn==20.0.4
requests==2.22.0
xmltodict==0.12.0
psycopg2-binary==2.8.4